<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://hknbp.org/" version="1.2.1" height="405" width="720" viewmodes="fullscreen">
    <tizen:application id="vkSmcespov.HKNBP" package="vkSmcespov" required_version="2.3"/>
    <author href="https://hknbp.org/" email="hknbp@sourcekey.org">Source Key</author>
    <content src="index.html"/>
    <description xml:lang="en-gb">A TV App</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/tv.audio"/>
    <icon src="icon.png"/>
    <license xml:lang="en-gb" href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</license>
    <license href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</license>
    <tizen:metadata key="http://samsung.com/tv/metadata/devel.api.version" value="2.4"/>
    <name xml:lang="zh-hk">香港網路廣播平臺</name>
    <name xml:lang="en-gb">HKNBP</name>
    <name>HKNBP</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/adinfo"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.audio"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
